<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Movie Database App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Movie Database App!</h1>
    <div style="padding: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); justify-items: center; width: fit-content; border-radius: 5px; margin: auto; background-color: white;">
        <h3>How to navigate through the project?</h3>
        <ul>
            <li>
                <p>Click the button below to view the list of movies.</p>
            </li>
            <li>
                <p>On the movies page, you can:</p>
                <ul>
                    <li><p><strong>View</strong> the details of a movie by clicking the "View" button.</p></li>
                    <li><p><strong>Edit</strong> a movie’s details by clicking the "Edit" button.</p></li>
                    <li><p><strong>Delete</strong> a movie by clicking the "Delete" button.</p></li>
                </ul>
            </li>
            <li>
                <p>To <strong>add a new movie</strong>, click the "Add New Movie" button on the movies page. This will open a form where you can input the movie’s details.</p>
            </li>
            <li>
                <p>On the view, edit, and create pages, there is a <strong>back button</strong> that allows you to return to the movies page directly.</p>
            </li>
            <li>
                <p>On the movies page, there is a <strong>"Back to Home Page"</strong> button at the bottom to return to this page.</p>
            </li>
        </ul>
    </div>
    <div class="button" id="center-button">
        <form action="/users" method="get">
            <button type="submit" class="button" id="button">View All Movies</button>
        </form>
    </div>
</body>
</html>